/*******************************
            Cards
*******************************/
.ui.clever.card {
  height: 328px;
  min-width: 300px;
  max-width: 300px;

  margin: 15px 15px;
  padding-left: 20px;

  border-radius: 8px;
  box-shadow: 0px 2px 20px 0px rgba(192,192,192,0.50);

  font-family: 'Merriweather Sans', sans-serif;
  color: #6F6F6F;

  .content {
    padding: 0;
  }

  .ui.image {
    margin-top: -65px;

    img {
      border-radius: 34px;
      height: 126px; width: 126px;
      border: 3px solid #fff;
    }
  }

  .name {
    margin-top: 30px;
    margin-bottom: 20px;

    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
  }

  .rating {
    position: absolute;
    top: -40px;
    right: 40px;
  }

  .pricing {
    position: absolute;
    top: 20px;
    right: 40px;

    font-size: 16px;
    font-weight: normal;
  }

  .description {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .more {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
