@import "./variables.styl"

/*******************************
            Cards
*******************************/
.ui.expanded.clever.card {
  height: auto;

  .details {
    display: block;
    margin-bottom: 70px;
  }

  .contact {
    display: block;
    height: 40px;
    width: 240px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #6F6F6F;

    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;

    margin-top: 20px;
  }

  table.date.picker {
    display: block !important;
    margin-top: 20px;

    tbody {
      margin: 0 auto;
      display: table;
    }
  }

  .commentaries {
    display: block;
    width: 100%;

    border-top: 2px solid $colors.borders;
    margin: 20px auto 120px auto;

    padding-top: 20px;

    h4 {
      font-family: 'Merriweather Sans', sans-serif;
      color: #FFBA00;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .comment {
    margin-bottom: 23px;
  }

  .info {
    display: inline-block;

    &:before {
      height: 100%;
      vertical-align: middle;
    }

    h5 {
      font-family: 'Merriweather', serif;
      font-size: 14px;
      font-weight: bold;
      color: #000000;

      margin-top: 0;
      margin-bottom: -5px;
    }

    .fitted.yellow.empty.star.icon {
      width: 10px;
      height: 10px;
      margin-bottom: 5px;
    }
  }
}

.ui.clever.card {
  height: $card.height;
  min-width: 300px;
  width: $card.width;

  margin: 15px 15px;
  padding-left: $card.padding;
  padding-right: $card.padding;

  border-radius: 8px;
  border: 2px solid $colors.borders;
  box-shadow: none;

  font-family: 'Merriweather', serif;
  color: $colors.text;

  .details {
    display: none;
  }

  &:hover {
    box-shadow: 0px 2px 20px 0px rgba(192,192,192,0.50);
  }

  .content {
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  .ui.image {
    margin-top: -65px;

    img {
      border-radius: 34px;
      height: 126px; width: 126px;
      border: 3px solid #fff;
    }
  }

  .name {
    margin-top: 25px;
    margin-bottom: 10px;

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;

    line-height: 30px;
  }

  .rating {
    position: absolute;
    width: 100%;
    top: -35px;

    padding-left: 126px;
    padding-right: 20px;

    text-align: center;
  }

  .pricing {
    position: absolute;
    top: 15px;
    width: 100%;

    padding-left: 126px;
    padding-right: 20px;

    text-align: center;

    font-size: 16px;
    font-weight: bold;
  }

  .description {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .options {
    position: absolute;
    bottom: 0px;
    height: 50px;
    line-height: 50px;

    margin-left: -20px;
    display: flex;

    width: 100%;
    border-top: 2px solid $colors.borders;

    .favorite {
      width: 50px;
      height: 50px;
      display: inline-block;

      text-align: center;
      border-right: 2px solid $colors.borders;

      border-bottom-left-radius: 8px;
    }

    .more {
      cursor: pointer;
      flex-grow: 1;
      display: inline-block;

      border-bottom-right-radius: 8px;

      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .more:hover, .favorite:hover {
      background-color: $colors.primary;
      color: white;
    }
  }
}

@media(min-width: $laptop.breakpoint){
  .ui.clever.card {
    margin-top: 70px;
    align-self: flex-start;
  }
}
