@import "./variables.styl"

/*******************************
            Cards
*******************************/
.ui.clever.card {
  height: $card.height;
  min-width: $card.width;
  max-width: $card.width;

  margin: 15px 15px;
  padding-left: $card.padding;
  padding-right: $card.padding;

  border-radius: 8px;
  border: 2px solid $colors.borders;
  box-shadow: none;

  font-family: 'Merriweather', serif;
  color: $colors.text;

  &:hover {
    box-shadow: 0px 2px 20px 0px rgba(192,192,192,0.50);
  }

  .content {
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  .ui.image {
    margin-top: -65px;

    img {
      border-radius: 34px;
      height: 126px; width: 126px;
      border: 3px solid #fff;
    }
  }

  .name {
    margin-top: 23px;
    margin-bottom: 24px;

    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: bold;

    line-height: 30px;
  }

  .rating {
    position: absolute;
    width: 100%;
    top: -40px;

    padding-left: 126px;
    padding-right: 20px;

    text-align: center;
  }

  .pricing {
    position: absolute;
    top: 20px;
    width: 100%;

    padding-left: 126px;
    padding-right: 20px;

    text-align: center;

    font-size: 16px;
    font-weight: bold;
  }

  .description {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .more {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    height: 50px;
    line-height: 50px;

    margin-left: -20px;

    width: 100%;
    text-align: center;

    border-top: 2px solid $colors.borders;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media(min-width: $laptop.breakpoint){
  .ui.clever.card {
    margin-top: 70px;
  }
}
