@import './variables.styl'

body {
  padding-top: $header.margin !important;
}

#header {
  background-color: $header.color;
  border-bottom: 1px solid #cbcbcc;
  width: 100%; min-height: $header.height;
  background: #fff;

  & .text.menu {
    margin: 0 auto;
  }
}

/*******************************
          Variations
*******************************/

@media (min-width: $laptop.breakpoint){
  #header .text.menu {
    width: $maxWidth;
  }
}

@media (min-width: $tablet.breakpoint) and (max-width: $laptop.breakpoint){
  #header .text.menu {
    width: $laptop.gridSize;
  }
}

@media (min-width: $phone.breakpoint) and (max-width: $tablet.breakpoint){
  #header .text.menu {
    width: $tablet.gridSize;
  }
}

@media (max-width: $phone.breakpoint){
  #header .text.menu {
    width: $phone.gridSize;
  }
}
