@import './variables.styl'

#header {
  background-color: $header.color;
  border-bottom: 1px solid #cbcbcc;
  width: 100%; min-height: $header.height;
  background: #fff;

  & .text.menu {
    margin: 0 auto;
  }
}
