.background{
    background-image: url('img/clvr-background-min.png');
    background-size: cover;
    background-position: center;
}

#header{
    color: white;
    padding-left: 150px;
    padding-top 50vh;
    height: 100vh;
    
    h1{
        font-family: 'Merriweather';
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0 0 20px #545454;
    }
    .subheading{
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 30px;
        line-height: 1.3em;
        font-weight: 300;
        margin-right: 30px;
        max-width: 500px;
        text-shadow: 0 0 20px #545454
    }
}