@import "./variables.styl"

/*
  Arquivo com as partes do CSS que ainda não foram organizadas
*/

body {
  margin: 0;
  background: #fff;
  padding-top: $navbar.height;
}

.ui.centered.image {
  display: block;
}

#profile {
  margin: 62px auto auto auto;
  width: 75%;
}

#avatar {
  margin-top: -80px;
}

#contactar {
  margin: 20px auto;
}

#loginBody {
  margin: 50px auto;
  width: 45%;
}
