@import './variables.styl'

#navbar {
  width: "calc(100vw - %s)" %  $searchForm.max-width;
  height: $navbar.height;
  top: 0;
  position: fixed;
  z-index: 101;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    height: 17px;
    margin-left: 44px;
    display: inline-block;
    vertical-align: middle;
  }

  #dashboardCTA {
    height: 100%; width: 150px;
    display: inline-block;
    float: right;
    color: white;

    line-height: $navbar.height;

    text-align: center;

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
