@import './variables.styl'

#navbar {
  width: "calc(100vw - %s)" % $searchForm.max-width;
  margin-left: $searchForm.max-width;
  height: $navbar.height;
  top: 0;
  position: fixed;
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    height: 17px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  i.facebook.icon {
    opacity: 1;
  }

  #dashboardCTA {
    height: 100%; width: 240px;
    display: inline-block;
    background-color: transparent;
    color: white;
    opacity: 1;
    float: right;
    color: white;

    line-height: $navbar.height;

    text-align: center;

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;

    &:hover {
      background-color: #283D7B;
    }
  }
}

#navbar.visible {
  background-color: #60ABCD;
}
