@import './variables.styl'

/*******************************
      Formulário de Busca
*******************************/
#formScreen {
  padding: 0 20px;
  font-size: 14px;

  font-family: 'Merriweather Sans', sans-serif;

  /*--------------------
          Inputs
  ---------------------*/
  .field {
    margin-top: 20px;

    & > label {
      font-weight: 300;
      font-size: 13.65px;
      margin: 0;
      color: #5C5C5C;
    }

    &.slim input[type=text], input[type=text]:active{
      background-color: transparent;
      display: block;
      width: 100%;

      border: none;
      border-radius: 0;
      border-bottom: 1px solid #b7b7b7;

      padding: 9px 1px;
      font-size: 26px;

      font-family: inherit;
      font-weight: 300;

      outline: none;
    }
  }

  div.ui.button {
    width: 200px;
    margin: 15px auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  /*--------------------
        Parte dos R$
  ---------------------*/
  .ui.statistics {
    .statistic:first-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    .statistic:last-child {
      margin-left: 0;
      margin-bottom: 0;
    }

    .divider {
      height: 28px;
      margin: 0 10px;

      font-size: 1.5em;
      line-height: 34px;
    }
  }

  /*--------------------
          Botoes
  ---------------------*/
  .ui.button {
    margin-bottom: 20px;
  }
}

/*******************************
            Slider
*******************************/
#formScreen {
  /*--------------------
      Linha de Base
  ---------------------*/
  .noUi-horizontal {
    height: 2px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .noUi-target {
    border-color: #4A4A4A;
  }

  .noUi-base {
    top: -5px;
  }

  /*--------------------
          Handles
  ---------------------*/
  .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -9px;

    border-radius: 2em;
    outline: none;

    background-color: #4A4A4A;
    box-shadow: none;

    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    transition: box-shadow 1s;

    &.noUi-active, &:focus {
      box-shadow: 0 0 15px 7px #C5C5C5;
    }

    &:before {
      content: '';
      position: absolute;
      top: -40%;
      left: -40%;

      width: 50px; height: 50px;

      background-color: transparent;
    }

    &:after {
      display: none;
    }
  }

  /*--------------------
        Marcadores
  ---------------------*/
  .noUi-value {
    margin-top: 10px;
    position: absolute;
    text-align: center;
    color: #999;

    &:last-child {
      left: 90% !important;
    }

    &:first-child {
      left: 10% !important;
    }
  }
}

@media(min-width: $laptop.breakpoint){
  .clever.form {
    position: relative;
    margin-top: 43px;
  }

  #formScreen {
    position: fixed;
    height: 100%; width: 350px;

    padding-left: 42px;
    padding-right: 0px;

    margin-left: auto;
    margin-right: auto;
  }
}

/*******************************
     Semantic-UI alteracoes
*******************************/
.bold {
  font-weight: 900 !important;
  color: black;
}
