/*--------------------------
          Cards
--------------------------*/

$card = {
  width: 300px,
  height: 328px,
  margin: 15px,
  padding: 20px
}

/*--------------------------
          Cores
--------------------------*/

$colors = {
  text: #6F6F6F,
  borders: #ECECEC,
  primary: #60ABCD,
  secondary: #FFBA00,
  tertiary: #E4E4E4
}


/*--------------------------
          Medidas
--------------------------*/

$maxWidth = 1056px;

$laptop = {
  breakpoint: 660px
}

$navbar = {
  height: 70px,
  margin: 53px,
  color: $colors.primary
}


$searchForm = {
  padding: 30px,
  min-height: 675px,
  height: 100%,
  max-width: 360px
}