$maxWidth = 1056px;

$laptop = {
  breakpoint: 1174px,
  gridSize: 792px
}

$tablet = {
  breakpoint: 820px,
  gridSize: 95%
}

$phone = {
  breakpoint: 556px,
  gridSize: 95%
}

$header = {
  height: 56px,
  margin: 55px,
  color: white
}
