<div class="clever form" ng-controller="SearchCtrl">
  <div class="slim field">
    <label>Estou procurando por uma <span class="bold">aula</span> de</label>
    <input type="text" placeholder="Disciplina">
  </div>

  <div class="slim field">
    <label>Na <span class="bold">cidade</span> de</label>
    <input type="text" placeholder="Cidade">
  </div>

  <div class="field">
    <label><span class="bold">Custando</span> entre</label>
    <div class="ui tiny statistics">
      <div class="statistic">
        <div class="value">R$ {{lowerPrice}}</div>
      </div>
      <span class="divider"> e </span>
      <div class="statistic">
        <div class="value">R$ {{upperPrice}}</div>
      </div>
    </div>
  </div>

  <clever:slider></clever:slider>

  <div class="field">
    <label>Em algum desses <span class="bold">horários</span></label>
    <clever:date-picker></clever:date-picker>
  </div>

  <div class="ui button" ng-click="buscar()">Buscar Professor</div>
</div>
