<table class="date picker">
  <tr>
    <th></th>
    <th>Seg</th>
    <th>Ter</th>
    <th>Qua</th>
    <th>Qui</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td>M</td>
    <td class="pickable" ng-class="datePicker[0] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[1] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[2] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[3] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[4] ? 'selected' : ''"></td>
  </tr>
  <tr>
    <td>T</td>
    <td class="pickable" ng-class="datePicker[5] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[6] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[7] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[8] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[9] ? 'selected' : ''"></td>
  </tr>
  <tr>
    <td>N</td>
    <td class="pickable" ng-class="datePicker[10] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[11] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[12] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[13] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker[14] ? 'selected' : ''"></td>
  </tr>
</table>
