<table class="date picker">
  <tr>
    <th></th>
    <th>Seg</th>
    <th>Ter</th>
    <th>Qua</th>
    <th>Qui</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td>M</td>
    <td class="pickable" ng-class="datePicker['m'][0] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['m'][1] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['m'][2] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['m'][3] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['m'][4] ? 'selected' : ''"></td>
  </tr>
  <tr>
    <td>T</td>
    <td class="pickable" ng-class="datePicker['t'][0] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['t'][1] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['t'][2] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['t'][3] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['t'][4] ? 'selected' : ''"></td>
  </tr>
  <tr>
    <td>N</td>
    <td class="pickable" ng-class="datePicker['n'][0] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['n'][1] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['n'][2] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['n'][3] ? 'selected' : ''"></td>
    <td class="pickable" ng-class="datePicker['n'][4] ? 'selected' : ''"></td>
  </tr>
</table>
