<div class="commentaries">
  <h4>Avaliação dos Alunos</h4>

  <div class="comment" ng-repeat="comment in teacher-comments">
    <div class="info">
      <h5 class="name">João Santana</h5>
      <div class="nota">
          <i class="fitted yellow star icon"></i>
          <i class="fitted yellow star icon"></i>
          <i class="fitted yellow half empty star icon"></i>
          <i class="fitted yellow empty star icon"></i>
          <i class="fitted yellow empty star icon"></i>
      </div>
    </div>
    <p>She Hypnotizes You Into The Ghost Of Christmas Future</p>
  </div>
</div>
