<div class="ui clever card">
  <div class="content">
    <div class="ui image">
      <img src="{{teacher.profile_pic_url}}" />
    </div>
    <div class="rating">
        <i class="fitted yellow star icon"></i>
        <i class="fitted yellow star icon"></i>
        <i class="fitted yellow half empty star icon"></i>
        <i class="fitted yellow empty star icon"></i>
        <i class="fitted yellow empty star icon"></i>
    </div>

    <div class="pricing">
      R$ {{teacher.price}}
    </div>
    <div class="name">{{teacher.fullname}}</div>
    <div class="description">
      <!-- {{teacher.bio}} -->
      Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as
      pessoas mais interessantiss. Quem manda na minha terra sou Euzis!
    </div>

    <div class="details">
      <div class="contact">
        <i class="big mobile icon"></i>
        (84) 98119 - 2030
      </div>

      <clever:date-picker class="result"></clever:date-picker>
    </div>

    <div class="options">
      <span class="favorite">
        <i class="plus icon"></i>
      </span>
      <span class="more">Ver mais</span>
    </div>
  </div>
</div>
