body {
  margin-top: 96px !important;
}
#header {
  background-color: #fff;
  border-bottom: 1px solid #cbcbcc;
  width: 100%;
  min-height: 76px;
}
#header .text.menu {
  margin: 0 auto;
}
@media (min-width: 1174px) {
  #header .text.menu {
    width: 1056px;
  }
  #header .text.menu .right.menu .item {
    display: none;
  }
}
@media (min-width: 820px) and (max-width: 1174px) {
  #header .text.menu {
    width: 792px;
  }
  #header .text.menu .right.menu .item {
    display: none;
  }
}
@media (min-width: 556px) and (max-width: 820px) {
  #header .text.menu {
    width: 95%;
  }
  #header .text.menu .right.menu .ui.input {
    display: none;
  }
  #header .text.menu .right.menu .item {
    display: inline;
  }
}
@media (max-width: 556px) {
  #header .text.menu {
    width: 95%;
  }
  #header .text.menu .right.menu .ui.input {
    display: none;
  }
  #header .text.menu .right.menu .item {
    display: inline;
  }
}
body {
  margin: 0;
  background: #eef1f1;
}
.ui.centered.image {
  display: block;
}
#profile {
  margin: 62px auto auto auto;
  width: 75%;
}
#avatar {
  margin-top: -80px;
}
#contactar {
  margin: 20px auto;
}
#loginBody {
  margin: 50px auto;
  width: 45%;
}
