@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Merriweather:700,900';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';
#formScreen {
  padding: 0 20px;
  font-size: 14px;
  font-family: 'Merriweather Sans', sans-serif;
/*--------------------
          Inputs
  ---------------------*/
/*--------------------
        Parte dos R$
  ---------------------*/
/*--------------------
          Botoes
  ---------------------*/
}
#formScreen .field {
  margin-top: 20px;
}
#formScreen .field > label {
  font-weight: 300;
  font-size: 13.65px;
  margin: 0;
  color: #5c5c5c;
}
#formScreen .field.slim input[type=text],
#formScreen .field input[type=text]:active {
  background-color: transparent;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b7b7b7;
  padding: 9px 1px;
  font-size: 26px;
  font-family: inherit;
  font-weight: 300;
  outline: none;
}
#formScreen div.ui.button {
  width: 200px;
  margin: 15px auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
#formScreen .ui.statistics .statistic:first-child {
  margin-right: 0;
  margin-bottom: 0;
}
#formScreen .ui.statistics .statistic:last-child {
  margin-left: 0;
  margin-bottom: 0;
}
#formScreen .ui.statistics .divider {
  height: 28px;
  margin: 0 10px;
  font-size: 1.5em;
  line-height: 34px;
}
#formScreen .ui.button {
  margin-bottom: 20px;
}
#formScreen .noUi-horizontal {
  height: 2px;
  margin-bottom: 50px;
  margin-top: 20px;
}
#formScreen .noUi-target {
  border-color: #4a4a4a;
}
#formScreen .noUi-base {
  top: -5px;
}
#formScreen .noUi-handle {
  width: 30px;
  height: 30px;
  left: -17px;
  top: -9px;
  border-radius: 2em;
  outline: none;
  background-color: #4a4a4a;
  box-shadow: none;
  -webkit-transition: box-shadow 1s;
  -moz-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
#formScreen .noUi-handle.noUi-active,
#formScreen .noUi-handle:focus {
  box-shadow: 0 0 15px 7px #c5c5c5;
}
#formScreen .noUi-handle:before {
  content: '';
  position: absolute;
  top: -40%;
  left: -40%;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
#formScreen .noUi-handle:after {
  display: none;
}
#formScreen .noUi-value {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  color: #999;
}
#formScreen .noUi-value:last-child {
  left: 90% !important;
}
#formScreen .noUi-value:first-child {
  left: 10% !important;
}
@media (min-width: 660px) {
  .clever.form {
    position: relative;
    margin-top: 23px;
  }
  #formScreen {
    position: fixed;
    height: 100%;
    width: 350px;
    padding-left: 42px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
.bold {
  font-weight: 900 !important;
  color: #000;
}
#resultScreen {
  display: none;
/*--------------------
          Headers
  ---------------------*/
/*--------------------
          Labels
  ---------------------*/
/*--------------------
       Result List
  ---------------------*/
}
#resultScreen h1.ui.header {
  padding: 0 20px;
}
#resultScreen span.sub.header {
  margin-top: 5px;
}
#resultScreen .ui.labels {
  margin: 0 auto;
  display: table;
  margin-top: 30px;
}
#resultScreen .row {
  display: flex;
  orientation: horizontal;
  overflow-y: visible;
  margin-top: 70px;
}
#resultScreen .wrapper {
  overflow-x: scroll;
  width: 100%;
}
@media (min-width: 660px) {
  #resultScreen {
    display: block;
    margin-left: 360px;
  }
  #resultScreen h1.ui.header,
  #resultScreen span.sub.header,
  #resultScreen .ui.labels,
  #resultScreen table.date.picker {
    display: none;
  }
  #resultScreen .wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 35px;
  }
  #resultScreen .wrapper .row {
    flex-wrap: wrap;
    margin-top: 0px;
  }
}
#header {
  background-color: #60abcd;
  border-bottom: 1px solid #cbcbcc;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 101;
}
#header:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#header img {
  height: 17px;
  margin-left: 44px;
  display: inline-block;
  vertical-align: middle;
}
#header #dashboardCTA {
  height: 100%;
  width: 150px;
  display: inline-block;
  background-color: #f1f1f1;
  opacity: 0.55;
  float: right;
  line-height: 50px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
body {
  margin: 0;
  background: #fff;
  padding-top: 50px;
}
.ui.centered.image {
  display: block;
}
#profile {
  margin: 62px auto auto auto;
  width: 75%;
}
#avatar {
  margin-top: -80px;
}
#contactar {
  margin: 20px auto;
}
#loginBody {
  margin: 50px auto;
  width: 45%;
}
table.date.picker {
  margin: 0;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
}
table.date.picker th {
  font-weight: 100;
}
table.date.picker td:first-child {
  background-color: transparent;
  width: 10px;
  font-weight: 100;
}
table.date.picker td {
  width: 46px;
  height: 46px;
  border-radius: 0.3rem;
  background-color: #e4e4e4;
}
table.date.picker td.selected {
  background-color: #60abcd;
}
table.result.date.picker {
  margin: 0 auto;
}
table.result.date.picker tr:first-child,
table.result.date.picker td:first-child {
  display: none;
}
table.result.date.picker td {
  width: 30px;
  height: 30px;
}
.ui.clever.card {
  height: 328px;
  min-width: 300px;
  max-width: 300px;
  margin: 15px 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: 2px solid #ececec;
  box-shadow: none;
  font-family: 'Merriweather', serif;
  color: #6f6f6f;
}
.ui.clever.card:hover {
  box-shadow: 0px 2px 20px 0px rgba(192,192,192,0.5);
}
.ui.clever.card .content {
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.ui.clever.card .ui.image {
  margin-top: -65px;
}
.ui.clever.card .ui.image img {
  border-radius: 34px;
  height: 126px;
  width: 126px;
  border: 3px solid #fff;
}
.ui.clever.card .name {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
}
.ui.clever.card .rating {
  position: absolute;
  width: 100%;
  top: -35px;
  padding-left: 126px;
  padding-right: 20px;
  text-align: center;
}
.ui.clever.card .pricing {
  position: absolute;
  top: 15px;
  width: 100%;
  padding-left: 126px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.ui.clever.card .description {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
}
.ui.clever.card .options {
  position: absolute;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  margin-left: -20px;
  display: flex;
  width: 100%;
  border-top: 2px solid #ececec;
}
.ui.clever.card .options .favorite {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  border-right: 2px solid #ececec;
  border-bottom-left-radius: 8px;
}
.ui.clever.card .options .more {
  cursor: pointer;
  flex-grow: 1;
  display: inline-block;
  border-bottom-right-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ui.clever.card .options .more:hover,
.ui.clever.card .options .favorite:hover {
  background-color: #60abcd;
  color: #fff;
}
@media (min-width: 660px) {
  .ui.clever.card {
    margin-top: 70px;
  }
}
