@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i';
.ui.form {
  padding: 0 20px;
  font-size: 14px;
/*--------------------
          Inputs
  ---------------------*/
/*--------------------
        Parte dos R$
  ---------------------*/
/*--------------------
          Botoes
  ---------------------*/
}
.ui.form .field > label {
  font-weight: normal;
  margin: 0;
  color: #665;
  margin-top: 20px;
}
.ui.form .field.slim input[type=text],
.ui.form .field input[type=text]:active {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b7b7b7;
  padding: 5px 1px;
  font-size: 26px;
}
.ui.form .ui.statistics .statistic:first-child {
  margin-right: 0;
  margin-bottom: 0;
}
.ui.form .ui.statistics .statistic:last-child {
  margin-left: 0;
  margin-bottom: 0;
}
.ui.form .ui.statistics .divider {
  height: 28px;
  margin: 0 10px;
  font-size: 1.5em;
  line-height: 34px;
}
.ui.form .ui.button {
  margin-bottom: 20px;
}
.ui.form .noUi-horizontal {
  height: 2px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.ui.form .noUi-target {
  border-color: #4a4a4a;
}
.ui.form .noUi-base {
  top: -5px;
}
.ui.form .noUi-handle {
  width: 30px;
  height: 30px;
  left: -17px;
  top: -9px;
  border-radius: 2em;
  background-color: #4a4a4a;
  box-shadow: none;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.ui.form .noUi-handle.noUi-active {
  box-shadow: 0 0 15px 15px #c9c9c9;
}
.ui.form .noUi-handle:before {
  content: '';
  position: absolute;
  top: -40%;
  left: -40%;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.ui.form .noUi-handle:after {
  display: none;
}
.ui.form .noUi-value {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  color: #999;
}
.ui.form .noUi-value:last-child {
  left: 90% !important;
}
.ui.form .noUi-value:first-child {
  left: 10% !important;
}
table.date.picker {
  margin: 10px auto;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
}
table.date.picker th {
  font-weight: 100;
}
table.date.picker td:first-child {
  background-color: transparent;
  width: 10px;
  font-weight: 100;
}
table.date.picker td {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;
  background-color: #ddd;
}
table.date.picker td.selected {
  background-color: #5c5c5c;
}
.bold {
  font-weight: 900 !important;
  color: #000;
}
#resultScreen h1.ui.header {
  padding: 0 20px;
}
#resultScreen span.sub.header {
  margin-top: 5px;
}
#resultScreen .ui.labels {
  margin: 0 auto;
  display: table;
  margin-top: 30px;
}
#resultScreen .row {
  display: flex;
  orientation: horizontal;
  overflow-y: visible;
  width: 100%;
  margin-top: 70px;
}
#resultScreen .wrapper {
  overflow-x: scroll;
}
table.result.date.picker tr:first-child,
table.result.date.picker td:first-child {
  display: none;
}
table.result.date.picker td {
  width: 30px;
  height: 30px;
}
body {
  padding-top: 55px !important;
}
#header {
  background-color: #fff;
  border-bottom: 1px solid #cbcbcc;
  width: 100%;
  min-height: 56px;
  background: #fff;
}
#header .text.menu {
  margin: 0 auto;
}
body {
  margin: 0;
  background: #fff;
}
.ui.centered.image {
  display: block;
}
#profile {
  margin: 62px auto auto auto;
  width: 75%;
}
#avatar {
  margin-top: -80px;
}
#contactar {
  margin: 20px auto;
}
#loginBody {
  margin: 50px auto;
  width: 45%;
}
.ui.clever.card {
  height: 328px;
  min-width: 300px;
  max-width: 300px;
  margin: 15px 15px;
  padding-left: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 20px 0px rgba(192,192,192,0.5);
  font-family: 'Merriweather Sans', sans-serif;
  color: #6f6f6f;
}
.ui.clever.card .content {
  padding: 0;
}
.ui.clever.card .ui.image {
  margin-top: -65px;
}
.ui.clever.card .ui.image img {
  border-radius: 34px;
  height: 126px;
  width: 126px;
  border: 3px solid #fff;
}
.ui.clever.card .name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
}
.ui.clever.card .rating {
  position: absolute;
  top: -40px;
  right: 40px;
}
.ui.clever.card .pricing {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 16px;
}
.ui.clever.card .description {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0px;
}
.ui.clever.card .more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
